@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 980px;
    margin: 0 auto;
}

.logo{
    text-align: center;
    margin: 14px 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 22px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    background-image: linear-gradient(to right bottom, #00aefd, #ffa400);
    color:  transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

nav ul li a:hover{
    text-decoration: underline;
}


.content{
    margin-top: 26px;
}

.post{
    display: flex;
    background-image: linear-gradient(to right bottom, #00aefd, #ffa400);
    color:  transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.post-content{
    display: flex;
    align-items: center;
}

.description{
    color: black;
    font-size: 14px;
    margin: 16px 0;
}

.btn-post{
    background-color: #ffa800;
}

.btn{
    padding: 8px 12px;
    color: #fff;
    border: none;
    cursor: pointer;
}


.product h4{
    text-align: center;
    padding: 22px 0;
    font-size: 28px;
    background-image: linear-gradient(to right bottom, #00aefd, #ffa400);
    color:  transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.product-list{
    display: flex;
    justify-content: space-between;
}

.product-item{
    width: 32%;
    position: relative;
    overflow: hidden;
}

.product-item img{
    cursor: pointer;
    transition: 0.4s;
}

.product-item img:hover{
    transform: scale(1.1);
}

.product-item:hover .product-detail{
    transform: translateY(0);
}

.product-detail{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(100%);
    transition: 0.4s;
}

.product-detail h3{
    margin: 16px;
    font-size: 16px;
}

.product-price{
    display: block;
    margin: 12px 0;
}

.btn-product{
    background-color: #444;
    width: 100%;
}

footer{
    height: 60px;
    background-image: linear-gradient(to right bottom, #00aefd, #af60ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

footer p{
    color: #fff;
    font-size: 15px;
}

.btn-ft{
    background-color: #ffa800;
    border: 2px solid #ffa800;
    border-radius: 3px;
}

footer input{
    padding: 8px 12px;
    border: 2px solid #ffa800;
    border-radius: 3px;
    outline: none;
}
